Package: lilliana.satellajailed
Name: SatellaJailed
Version: 0.0.1
Architecture: iphoneos-arm
Description: A tweak which is shaped like itself and is as broad as it hath breadth
Maintainer: Lilliana
Author: Lilliana
Section: Tweaks
Depends: firmware (>= 12.2)
SileoDepiction: https://paisseon.github.io/depictions/SatellaJailed.json
Depiction: Depiction: https://pinpal.github.io/Sileo-Depiction-WebViews/?json=https://paisseon.github.io/depictions/SatellaJailed.json&name=SatellaJailed&dev=Lilliana
